a, a:hover, a:visited, a:focus {
    text-decoration: none;
}

.height-37px {
    height: 37px;
    margin: 0;
}

.btn-no-deco {
    text-decoration: none !important;
    margin: 0;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-content-dropdown-to-display {
    display: none;
}

.btn-contact-us a {
    text-decoration: none !important;
}

#dagoma-contact-form {
    display: none;
}

.btn-contact-us-yes {
    cursor: pointer;
}

@media (max-width: 767px) {
    .use-img {
        margin: 0;
        padding: 0;
    }

    .use-img img {
        width: 100%;
        height: 100%;
    }

    /*div#content-page h1 {
        color: #404041;
        text-transform: uppercase;
        font-size: 30px;
        border-bottom: 2px solid;
        width: auto;
        margin: 10px auto 0;
        padding: 8px 0 0;
        text-align: left;
    }*/

    /*div#content-page div.capsule-h1 {
        text-align: center;
    }*/

    div.capsule-h1 p {
        text-align: justify;
    }

    /*div#content-page h2 {
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: normal;
    }

    div#content-page h3 {
        font-size: 22px;
        text-align: left;
    }

    div#content-page h4 { text-align:left; }

    div#content-page {
        font-size: 16px;
        text-align: justify;
    }

    div#content-page a, div#content-page a:hover, div#content-page a:focus {
        font-weight: normal;
    }*/

    .asterisque {
        font-style: italic;
        text-align: right;
    }

    div.interview div {
        text-align: center;
    }

    /*div#content-page img.profile-interview {
        width: 100px;
    }*/

    div.interview p.to-know-more {
        font-style: italic;
    }

    div.interview h2 {
        color: #ff8200;
        text-transform: uppercase;
        font-size: 20px;
    }

    div.interview p.author {
        color: #ff8200;
        font-size: 16px;
        font-style: italic;
        text-align: center;
    }

    div.interview p.description {
        text-align: center;
        font-size: 14px;
    }

    div.interview p.question {
        font-weight: bold;
    }

    /*div#content-page img#team-dagoma-heart {
        width: 25px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    div#content-page h2#team-dagoma-title-2 {
        margin-top: 0;
        margin-bottom: 30px;
    }*/

    div#team-dagoma-intro {
        text-align: center;
        margin: 0 0 50px 0;
    }

    div#team-dagoma-intro p {
        margin-bottom: 0;
    }

    div.team-with-photo {
        padding: 0;
        height: 105px;
    }

    div.team-without-photo {
        text-align: center;
        height: 105px;
        padding: 0;
    }

    div.team-without-photo hr {
        width: 30%;
        border: 1px solid;
    }

    /*div#content-page h3.team-dagoma-name {
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
    }

    div#content-page p.team-dagoma-job {
        text-transform: capitalize;
        font-size: 12px;
    }*/

    div.team-dagoma-description {
        position: absolute;
        top: 0;
        background-color: #ff8200;
        height: 100%;
        width: 100%;
        opacity: 0.8;
        text-align: center;
        color: #fff;
        font-weight: bold;
        padding-top: 30px;
        display: none;
    }

    div.values-without-photo {
        text-align: center;
        padding-top: 100px !important;
        height: 390px;
    }

    /*div#content-page h3.values-dagoma-name {
        text-align: center;
        font-size: 20px;
    }

    div#content-page p.values-dagoma-author {
        font-style: italic;
    }*/

    div.values-with-photo {
        padding: 0;
        height: 142px;
        text-align: center;
    }

    div.values-without-photo {
        height: 142px;
        padding-top: 0 !important;
    }

    p.values-dagoma-citation {
        font-size: 12px;
    }

    /*div#content-page h3.partner-title {
        text-align: center;
        color: #ffffff;
        padding-top: 5px;
        background-color: #ff8200;
        padding-bottom: 5px;
        text-transform: capitalize;
        font-size: 16px;
    }

    div#content-page p.caption {
        font-style: italic;
        text-align: center;
    }*/

    img#dago-visite {
        margin-bottom: 20px;
    }

    div#list-partners {
        background-color: #ff8200;
        position: relative;
        left: -100%;
        width: 300%;
        padding-left: 100%;
        padding-right: 100%;
        margin-bottom: -100px;
    }

    div.logo-partner {
        text-align: center;
        line-height: 150px;
        height: 150px;
    }

    /*div#content-page div.logo-partner img {
        max-height: 90px;
        display: inline-block;
        max-width: 100%;
        width: auto;
        margin: auto;
    }*/

    .home-products-list {
        background-color: #FFFFFF;
        text-align: center;
        padding: 10px;
    }

    div#shop-boxes-list a {
        text-decoration: none;
    }

    div.label-choice label {
        font-weight: normal;
    }

    div#become-ambassador-form {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .img-step-1, .img-step-2, .img-step-3 {
        margin-bottom: 5px;
    }

    .img-step-ces {
        width: 100% !important;
    }

    .text-step-ces {
        bottom: 10px;
        color: #ffffff;
        font-size: 22px;
        left: 39px;
        position: absolute;
        text-transform: uppercase;
    }

    .screen-input-ces {
        width: 80% !important;
    }

    .text-step-1, .text-step-2, .text-step-3 {
        text-align: left;
        margin-bottom: 10px;
    }

    .usa-map {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .fb-button-share {
        width: 29% !important;
    }

    .bording-pass-small {
        margin-bottom: 10px;
    }

    .text-ticket {
        margin-bottom: 5px;
    }

    .bording-pass {
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    .block-3d-file {
        border: #565656 1px solid;
        height: 250px;
        background-color: #ff8200;
        color: white;
        text-align: center;
        padding-top: 90px;
        font-weight: bold;
        font-size: 24px;
    }

    .object-type {
        border: 1px solid #565656;
        margin-bottom: 40px;
        height: 110px;
        padding-top: 45px;
    }

    .use-img {
        margin: 0;
        padding: 0;
    }

    .use-img img {
        width: 100%;
        height: 100%;
    }

    .asterisque {
        font-style: italic;
        text-align: right;
    }

    div.interview div {
        text-align: center;
    }

    /*div#content-page img.profile-interview {
        width: 100px;
    }*/

    div.interview p.to-know-more {
        font-style: italic;
    }

    div.interview h2 {
        color: #ff8200;
        text-transform: uppercase;
        font-size: 20px;
    }

    div.interview p.author {
        color: #ff8200;
        font-size: 16px;
        font-style: italic;
        text-align: center;
    }

    div.interview p.description {
        text-align: center;
        font-size: 14px;
    }

    div.interview p.question {
        font-weight: bold;
    }

    /*div#content-page img#team-dagoma-heart {
        width: 25px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    div#content-page h2#team-dagoma-title-2 {
        margin-top: 0px;
        margin-bottom: 30px;
    }*/

    div#team-dagoma-intro {
        text-align: center;
        margin: 0 0 50px 0;
    }

    div#team-dagoma-intro p {
        margin-bottom: 0;
    }

    div.team-with-photo {
        padding: 0 !important;
        height: 186px;
    }

    div.team-without-photo {
        text-align: center;
        height: 186px;
        padding: 60px 0 0 0 !important;
    }

    div.team-without-photo hr {
        width: 30%;
        border: 1px solid;
    }

    /*div#content-page h3.team-dagoma-name {
        text-align: center;
        font-size: 28px;
    }

    div#content-page p.team-dagoma-job {
        text-transform: capitalize;
    }*/

    div.team-dagoma-description {
        position: absolute;
        top: 0;
        background-color: #ff8200;
        height: 160px;
        width: 163px;
        margin: 10px;
        opacity: 0.8;
        text-align: center;
        color: #fff;
        font-weight: bold;
        padding-top: 50px;
        display: none;
    }

    div.values-without-photo {
        text-align: center;
        padding-top: 50px !important;
        height: 390px;
    }

    /*div#content-page h3.values-dagoma-name {
        text-align: center;
        font-size: 40px;
    }

    div#content-page p.values-dagoma-author {
        font-style: italic;
    }*/

    div.values-with-photo {
        padding: 0;
        height: 250px;
    }

    div.values-without-photo {
        height: 250px;
    }

    /*div#content-page img.partner-logo {

    }

    div#content-page h3.partner-title {
        text-align: center;
        color: #ffffff;
        padding-top: 5px;
        background-color: #ff8200;
        padding-bottom: 5px;
        text-transform: capitalize;
        font-size: 16px;
    }

    div#content-page p.caption {
        font-style: italic;
        text-align: center;
    }*/

    img#dago-visite {
        margin-bottom: 20px;
    }

    div#list-partners {
        background-color: #ff8200;
        position: relative;
        left: -100%;
        width: 300%;
        padding-left: 100%;
        padding-right: 100%;
        margin-bottom: -100px;
    }

    div.logo-partner {
        text-align: center;
        line-height: 150px;
        height: 150px;
    }

    /*div#content-page div.logo-partner img {
        max-height: 90px;
        display: inline-block;
        max-width: 100%;
        width: auto;
        margin: auto;
    }*/

    .home-products-list {
        background-color: #FFFFFF;
        text-align: center;
        padding: 10px;
    }

    div#shop-boxes-list a {
        text-decoration: none;
    }

    div.label-choice label {
        font-weight: normal;
    }

    div#become-ambassador-form {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .img-step-1, .img-step-2 {
        margin-bottom: 5px;
    }

    .img-step-ces {
        width: 100% !important;
    }

    .text-step-ces {
        bottom: 14px;
        color: #ffffff;
        font-size: 22px;
        left: 39px;
        position: absolute;
        text-transform: uppercase;
    }

    .screen-input-ces {
        width: 89% !important;
    }

    .text-step-1, .text-step-2 {
        text-align: left;
    }

    .text-step-2 {
        margin-top: 20px;
    }

    .text-step-3 {
        margin-top: 6px;
    }

    .usa-map {
        margin-top: 10px;
    }

    .jeton-ces {
        margin-left: 15%;
        width: 50% !important;
    }

    .fb-button-share {
        margin-left: 10px;
        width: 22% !important;
    }

    .margin-top {
        margin-top: 15px;
    }

    .text-ticket {
        margin-bottom: 5px;
    }
}

@media (min-width: 992px) {
    div.team-with-photo {
        height: 240px;
    }

    div.team-without-photo {
        height: 240px;
    }

    div.team-dagoma-description {
        height: 205px;
        width: 210px;
        margin: 15px;
        padding-top: 70px;
    }

    div.values-with-photo {
        height: 323px;
    }

    div.values-without-photo {
        height: 323px;
        padding-top: 70px !important;
    }

    .screen-input-ces {
        width: 100% !important;
    }

    .fb-button-share {
        margin-left: 10px;
        width: 15% !important;
    }

    .text-step-3 {
        margin-top: 15px;
    }
}

@media (min-width: 1200px) {
    div.team-with-photo {
        height: 290px;
    }

    div.team-without-photo {
        height: 290px;
    }

    div.team-dagoma-description {
        height: 240px;
        width: 243px;
        margin: 25px;
        padding-top: 80px;
    }

    div.values-with-photo {
        height: 390px;
    }

    div.values-without-photo {
        padding-top: 100px !important;
        height: 390px;
    }

    .fb-button-share {
        width: 12% !important;
    }

    .jeton-ces {
        margin-left: 0;
        width: 100% !important;
    }

    .screen-input-ces {
        width: 100% !important;
    }
}

/*div#content-page div.logo-partner a {
    display: block;
}*/

@media (max-width: 768px){
    .checkout-billing-address-details-selected p{
        text-align: left !important;
    }
}

.survolimage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    background-color: #C6C6C5;
    font-size: 11px;
    font-weight: 300;
    transition:all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    text-align: center;
    border:10px solid #fff;
    z-index:1;
}

.container-fluid {
    background-color: white;
    font-size: 20px;
}

.portfolio-margin {
    margin-bottom: 30px;
    position:relative;
    min-height:280px !important;
}

.portfolio {
    width:100%;
    overflow:hidden;
    padding:10px;
    position:relative;
}

.portfolio > div { width:100%; }

.portfolio-name {
    text-transform: uppercase;
    display:block;
    top:-50%;
    bottom:-50%;
    left:0;
    right:0;
    margin:auto;
    position:absolute;
    font-weight:700;
    z-index:2;
    height:50px;
    font-size:22px !important;
}

.image-portfolio {
    width: 100%;
    margin:0 !important;
    vertical-align:bottom;
}

.survolimage:hover {
    opacity: 0.9;
    color: #fff;
    text-decoration: none;
}

.portfolio + div { padding:0 10px; }