figure img {
  vertical-align: middle;
  width: 100%;
}

header {
  border-bottom: 1px solid #ff8200;
  z-index: 9999;
  position: relative;
  background-color: #fff;
}

.top-lang {
  background-color: #e7e7e7;
  color: #404041;
}

footer {
  background-color: #404041;
  color: #fff;
  position: relative;
}

footer p,
footer section ul li {
  text-align: left;
  padding: 5px 0;
}

footer section {
  margin: 0 0 30px;
}

footer section ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.6em;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

footer section ul li a:hover {
  color: #ff8200;
}

.text-white {
  color: #fff;
}

.color-anthracite {
  background-color: #404041;
}

.text-green {
  color: #19bc3b;
}

.text-red {
  color: #bc251e;
}

.bg-gradient-orange {
  background: #ffa735;
  background: -moz-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: -webkit-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: linear-gradient(to right, #ffa735 0%, #fd613d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa735', endColorstr='#fd613d',GradientType=1 );
}

.bg-white {
  background-color: #ffffff;
}
.bg-light-grey-blue {
  background-color: #f6f6fe;
}

video {
  vertical-align: middle;
}

.new-btn,
a.new-btn {
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  border: 2px solid transparent;
  padding: 8px 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  vertical-align: middle;
}

.btn-valid,
a.btn-valid {
  color: #fff;
  background: #ffa735;
  background: -moz-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: -webkit-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: linear-gradient(to right, #ffa735 0%, #fd613d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa735', endColorstr='#fd613d',GradientType=1 );
  border-color: #ffa735;
  transition: all 0.3s ease;
}
.btn-valid:hover,
a.btn-valid:hover {
  background-size: 400% 400%;
  -webkit-animation: moving-gradient 2.5s ease infinite;
  -moz-animation: moving-gradient 2.5s ease infinite;
  animation: moving-gradient 2.5s ease infinite;
}

.btn-classic,
a.btn-classic {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 8px 15px;
  font-weight: 700;
  vertical-align: middle;
  overflow: hidden;
  transition: all 0.3s ease;
}

.btn-grey,
a.btn-grey {
  color: #404041;
  border-color: #404041;
}

.btn-grey:hover,
a.btn-grey:hover {
  color: #fff;
  background-color: #404041;
}

.btn-big,
a.btn-big {
  font-size: 1.6em;
}

.btn-wide,
a.btn-wide {
  padding: 8px 25px;
}

.checkbox-classic {
  position: relative;
}

.checkbox-classic input[type='checkbox'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.checkbox-classic input[type='checkbox'] + label {
  padding-left: 40px;
  position: relative;
  text-align: left;
  display: inline-block;
  cursor: pointer;
}

.checkbox-classic input[type='checkbox'] + label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  border: 2px solid #404041;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
}

.checkbox-classic input[type='checkbox'] + label::before {
  border-radius: 3px;
}

.checkbox-classic input[type='checkbox'] + label::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ffa735;
  background: -moz-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: -webkit-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: linear-gradient(to right, #ffa735 0%, #fd613d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa735', endColorstr='#fd613d',GradientType=1 );
  left: 4px;
  margin: auto;
  top: 4px;
  transition: all 0.3s ease, transform 0.3s cubic-bezier(0.41, 1.39, 0.93, 1.15);
  opacity: 0;
  transform: scale(0.8);
}

.checkbox-classic input[type='checkbox'] + label::after {
  border-radius: 2px;
}

.checkbox-classic input[type='checkbox']:checked + label::before {
  border-color: #ffa735;
}

.checkbox-classic input[type='checkbox']:checked + label::after {
  transform: scale(1);
  opacity: 1;
}

.notice-mask figure img {
  width: 100%;
  vertical-align: middle;
}
.notice-mask .block-caption-classic {
  position: absolute;
  max-width: 600px;
  font-size: 1.15em;
}
.notice-mask .block-caption-classic > * {
  text-align: left;
}

.block-caption-right {
  right: 10%;
}
.block-caption-left {
  left: 10%;
}
.block-caption-center {
  left: 0;
  right: 0;
  margin: auto;
}
.block-caption-classic {
  position: relative;
  width: 80%;
  max-width: 500px;
  top: 50%;
  transform: translateY(-50%);
}
.block-caption-classic.block-caption-top {
  top: 30%;
}
.block-caption-classic.block-caption-plus-top {
  top: 65%;
}

.block-caption {
  position: relative;
  width: 80%;
  left: 10%;
  top: 10%;
}

.block-caption-classic .big-title,
.block-caption .big-title {
  font-size: 3em;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: 'Roboto condensed', Helvetica, Arial, sans-serif;
}
.block-caption-classic .title,
.block-caption .title {
  font-size: 13px !important;
}
.block-caption-classic p,
.block-caption p {
  padding: 0 0 10px;
}
.block-caption-classic > *,
.block-caption > * {
  text-align: left;
}

.display-flex {
  display: flex;
  position: relative;
}
.display-flex .col {
  flex: 50%;
  max-width: 50%;
}

.block-info-cursor::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  border-style: solid;
  z-index: 99;
  border-width: 30px 45px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: auto;
  right: 0;
}

.col-xl-push-12.block-info-cursor::before {
  border-width: 30px 0 30px 45px;
  border-color: transparent transparent transparent #fff;
  left: 0;
  right: auto;
}

.bg-light-grey-blue .col-xl-push-12.block-info-cursor::before {
  border-width: 30px 0 30px 45px;
  border-color: transparent transparent transparent #f6f6fe;
  left: 0;
  right: auto;
}

.bg-light-grey-blue .block-info-cursor::before {
  border-color: transparent #f6f6fe transparent transparent;
}

.bg-gradient-orange .block-info-cursor::before {
  border-width: 30px 45px 30px 0;
  border-color: transparent #fe8439 transparent transparent;
  right: 0;
}

.bg-gradient-orange .col-xl-push-12.block-info-cursor::before {
  border-width: 30px 0 30px 45px;
  border-color: transparent transparent transparent #fe8439;
  left: 0;
  right: auto;
}

.notice-small-img {
  padding: 120px 0;
}
.notice-small-img img {
  width: 100%;
  max-width: 450px;
  margin: auto;
}

.notice-small {
  padding: 20px 0;
}
.notice-small img {
  width: 100%;
  max-width: 450px;
  margin: auto;
  object-fit: contain !important;
}

.height-350 {
  min-height: 350px;
}

.height-350 figure {
  width: 100%;
  height: 100%;
}

.height-350 figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.height-350 figure img.contain {
  object-fit: contain;
}

.checkbox-full-width input[type='checkbox'] + label {
  padding: 10px 40px;
  border: 2px solid #404041;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f7f7f7;
  width: 100%;
}
.checkbox-full-width input[type='checkbox'] + label::before {
  top: 10px;
  left: 5px;
  border-radius: 50%;
}
.checkbox-full-width input[type='checkbox'] + label::after {
  background: transparent;
  top: 8px;
  left: 7px;
}

.checkbox-full-width input[type='checkbox']:checked + label {
  background: #ffa735;
  background: -moz-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: -webkit-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: linear-gradient(to right, #ffa735 0%, #fd613d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa735', endColorstr='#fd613d',GradientType=1 );
}
.checkbox-full-width input[type='checkbox']:checked + label::before {
  border-color: #404041;
  background-color: #fff;
}
.checkbox-full-width input[type='checkbox']:checked + label::after {
  background: transparent;
  content: '\f00c';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.block-video-yt iframe {
  min-height: 350px;
  width: 100%;
}

.block-video-yt article figure {
  padding: 15px 20px;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
}
.block-video-yt article figure img {
  width: 100%;
}

.block-video-yt article figure.max-height-img {
  background: transparent;
}
.block-video-yt article figure.max-height-img img {
  width: auto;
  max-height: 150px;
  margin: 0 auto 20px;
}
.block-video-yt article figure.max-height-img + div p {
  font-size: 1.8em;
}

.list-classic {
  margin-left: 15px;
}

.custom-page {
  padding: 50px 10px;
}

.custom-page h1 {
  font-size: 2.6em;
  text-align: left;
  padding: 10px 0;
}
.custom-page h2 {
  font-size: 2.2em;
  text-align: left;
  padding: 10px 0;
}
.custom-page h3 {
  font-size: 1.8em;
  text-align: left;
  padding: 10px 0;
}
.custom-page h4 {
  font-size: 1.6em;
  text-align: left;
  padding: 10px 0;
}

.custom-page ul {
  padding-left: 15px;
}
.custom-page ul li {
  font-size: 16px;
  text-align: left;
}

.custom-page a {
  text-decoration: underline;
  text-align: left;
}
.custom-page p {
  text-align: left;
  padding: 10px 0;
}

.no-float > * {
  float: none !important;
  display: inline-block;
}

.block-video-hidden {
  position: absolute;
  transform: translate(150%, -10%);
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
  border: 20px solid #f7f7f7;
  z-index: 99;
}
.block-video-hidden.active {
  transform: translate(0, -10%);
  opacity: 1;
}
.block-video-hidden .close-video {
  color: #404041;
  font-size: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 9999;
  cursor: pointer;
  background-color: #f7f7f7;
  border-radius: 50%;
  padding: 1px;
  width: 30px;
  height: 30px;
  border: 2px solid #404041;
}

.container-interface {
  float: none !important;
}

.container-interface img,
.container-interface picture {
  width: 100%;
}

.zone {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  height: auto;
  position: absolute;
  padding-top: 4%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  width: 5%;
}

.zone.zone-medium {
  width: 10%;
  padding-top: 9%;
}
.zone.zone-big {
  width: 15%;
  padding-top: 14%;
}

.zone:hover {
  cursor: pointer;
}

.focused {
  border: 1px dashed #404041;
}

.container-interface .active {
  background-color: #333333;
  color: #fff;
}

.nav-vertical {
  position: fixed;
  width: 350px;
  top: 0;
  right: 0;
  transform: translateX(0);
  height: 100%;
  padding-top: 140px !important;
  background-color: #fff;
  z-index: 1;
  box-shadow: -5px 0 4px rgba(0, 0, 0, 0.3);
  transition: all 0.5s cubic-bezier(0.32, 1, 0.62, 1);
  opacity: 1;
}
.nav-vertical.closed {
  opacity: 0.2;
  transform: translateX(310px);
}
.nav-vertical.closed .toggle-nav {
  background-color: #13ae10;
}
.nav-vertical.closed .toggle-nav i {
  transform: rotate(-180deg);
}

.notice-step,
.wrap.notice-step {
  padding: 20px 0;
  min-height: 70px;
}
.notice-step .step {
  width: 80%;
  max-width: 180px;
  margin: 0 auto 12px;
  padding: 0;
  border-width: 1px;
  height: 33px;
  overflow: visible;
}
.notice-step .step.active {
  background-color: #ffa735;
}
.notice-step .step a img {
  width: 170%;
}
.notice-step .step a {
  display: block;
  width: 100%;
  height: 100%;
  text-transform: initial;
  font-size: 12px;
  font-weight: 400;
  transition: all 0.3s ease;
  padding: 8px 0 0 !important;
}
.notice-step .step:hover {
  transform: scale(1.2, 1.2);
}
.notice-step .step a figure {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease;
  border: 8px solid #fff;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0;
  position: relative;
  top: 0;
  pointer-events: none;
}
.notice-step .step:hover a figure {
  top: 15px;
  max-height: 200px;
  border: 8px solid #404041;
  background-color: #404041;
  opacity: 1;
}
.notice-step .step.active:hover a figure {
  border: 8px solid #ffa635;
  background-color: #ffa635;
}

.toggle-nav {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #bc251e;
  color: #fff;
  border: none;
  font-size: 2em;
  transform: translate3d(-50%, -50%, 0);
  transition: all 0.3s ease;
}
.toggle-nav:hover {
  box-shadow: -2px 0 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.toggle-nav i {
  transition: all 0.3s ease;
  display: inline-block;
}

.border-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #404042;
}

.border-nav p {
  position: absolute;
  top: 23%;
  transform: rotate(-90deg);
  left: -20px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.3s ease;
}

.closed .border-nav p {
  opacity: 1;
}

@keyframes moving-cursor {
  0% {
    transform: translateY(18px);
  }
  10% {
    transform: translateY(18px);
  }
  30% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(18px);
  }
  100% {
    transform: translateY(18px);
  }
}
@keyframes enlarge-zone-click {
  0% {
    transform: scale(0.5, 0.5);
  }
  10% {
    transform: scale(0.5, 0.5);
  }
  30% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(0.5, 0.5);
  }
}
@keyframes moving-gradient {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 90% 50%;
  }
  100% {
    background-position: 10% 50%;
  }
}

@media only screen and (max-width: 1280px) {
  .notice-mask .block-caption-classic {
    max-width: 450px;
  }
}

@media only screen and (max-width: 1100px) {
  .wrap {
    width: 1020px;
  }
}

@media only screen and (max-width: 1024px) {
  .wrap {
    width: 100%;
    margin: auto;
    padding: 0 10px;
    min-height: 40px;
  }

  .nav-vertical {
    padding-top: 200px !important;
  }

  p {
    font-size: 1.4em;
  }

  .display-flex {
    display: block;
  }
  .display-flex .col.col-l-24 {
    flex: unset;
    max-width: none;
  }
  .display-flex .col.col-l-24:nth-of-type(2) {
    padding: 40px 0;
  }

  .col-l-24.block-info-cursor::before {
    border-width: 0 30px 45px 30px;
    border-color: transparent transparent #f6f6fe transparent;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    transform: none;
  }

  .block-caption {
    top: 15%;
  }
  .block-caption-classic {
    transform: translateY(0%);
  }
  .notice-mask .block-caption-classic {
    top: 10px;
    position: relative;
    transform: none;
    left: 10%;
    padding: 60px 0;
  }
}

@media only screen and (max-width: 768px) {
  .top-nav.wrap {
    width: 90%;
    float: right;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav.wrap {
    width: 10%;
    float: left;
    height: 100%;
    max-height: 175px;
    transition: all 0.5s cubic-bezier(0.42, 0.89, 0.44, 0.99);
  }

  .top-nav {
    margin-top: 30px;
  }

  footer {
    padding: 40px 10px 0;
  }

  .bg-gradient-orange .block-info-cursor::before {
    border-width: 0 30px 45px 30px;
    border-color: transparent transparent #fe8439 transparent;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .display-flex {
    display: block;
  }
  .display-flex .col {
    flex: unset;
    max-width: none;
  }
  .display-flex .col:nth-of-type(2) {
    padding: 40px 0;
  }

  .notice-small-img {
    padding: 10px 0;
  }
  .notice-small-img img {
    max-width: none;
  }

  .bg-light-grey-blue .col-xl-push-12.block-info-cursor::before {
    border-width: 0 30px 45px 30px;
    border-color: transparent transparent #f6f6fe transparent;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    transform: none;
  }

  .block-info-cursor::before {
    border-width: 0 30px 45px 30px;
    border-color: transparent transparent #f6f6fe transparent;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    transform: none;
  }

  .col-xl-push-12.block-info-cursor::before {
    border-width: 0 30px 45px 30px;
    border-color: transparent transparent #f6f6fe transparent;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    transform: none;
  }

  .container-interface {
    position: absolute;
    width: 700%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease;
  }
}

@media only screen and (max-width: 600px) {
  @keyframes moving-cursor {
    0% {
      transform: translateY(7px);
    }
    20% {
      transform: translateY(7px);
    }
    30% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(7px);
    }
    100% {
      transform: translateY(7px);
    }
  }

  @keyframes enlarge-zone-click {
    0% {
      transform: scale(0.6, 0.6);
    }
    19% {
      transform: scale(0.6, 0.6);
    }
    30% {
      transform: scale(1, 1);
    }
    40% {
      transform: scale(0.6, 0.6);
    }
    100% {
      transform: scale(0.6, 0.6);
    }
  }
}
