figure img {
  vertical-align: middle;
  width: 100%;
}

header {
  border-bottom: 1px solid #ff8200;
  z-index: 9999;
  position: relative;
  background-color: #fff;
}

.bg-anthracite {
  background-color: #404041;
}

.text-green {
  color: #19bc3b;
}

.text-red {
  color: #bc251e;
}

.bg-gradient-orange {
  background: #ffa735;
  background: -moz-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: -webkit-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: linear-gradient(to right, #ffa735 0%, #fd613d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa735', endColorstr='#fd613d',GradientType=1 );
}

.bg-white {
  background-color: #ffffff;
}
.bg-light-grey-blue {
  background-color: #f6f6fe;
}

.new-btn,
a.new-btn {
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  border: 2px solid transparent;
  padding: 8px 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  vertical-align: middle;
}

.btn-valid,
a.btn-valid {
  color: #fff;
  background: #ffa735;
  background: -moz-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: -webkit-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: linear-gradient(to right, #ffa735 0%, #fd613d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa735', endColorstr='#fd613d',GradientType=1 );
  border-color: #ffa735;
  transition: all 0.3s ease;
}
.btn-valid:hover,
a.btn-valid:hover {
  background-size: 400% 400%;
  -webkit-animation: moving-gradient 2.5s ease infinite;
  -moz-animation: moving-gradient 2.5s ease infinite;
  animation: moving-gradient 2.5s ease infinite;
}

.btn-classic,
a.btn-classic {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 8px 15px;
  font-weight: 700;
  vertical-align: middle;
  overflow: hidden;
  transition: all 0.3s ease;
}

.btn-grey,
a.btn-grey {
  color: #404041;
  border-color: #404041;
}

.btn-grey:hover,
a.btn-grey:hover {
  color: #fff;
  background-color: #404041;
}

.btn-big,
a.btn-big {
  font-size: 1.6em;
}

.btn-wide,
a.btn-wide {
  padding: 8px 25px;
}

.checkbox-classic {
  position: relative;
}

.checkbox-classic input[type='checkbox'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.checkbox-classic input[type='checkbox'] + label {
  padding-left: 40px;
  position: relative;
  text-align: left;
  display: inline-block;
  cursor: pointer;
}

.checkbox-classic input[type='checkbox'] + label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  border: 2px solid #404041;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
}

.checkbox-classic input[type='checkbox'] + label::before {
  border-radius: 3px;
}

.checkbox-classic input[type='checkbox'] + label::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ffa735;
  background: -moz-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: -webkit-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: linear-gradient(to right, #ffa735 0%, #fd613d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa735', endColorstr='#fd613d',GradientType=1 );
  left: 4px;
  margin: auto;
  top: 4px;
  transition: all 0.3s ease, transform 0.3s cubic-bezier(0.41, 1.39, 0.93, 1.15);
  opacity: 0;
  transform: scale(0.8);
}

.checkbox-classic input[type='checkbox'] + label::after {
  border-radius: 2px;
}

.checkbox-classic input[type='checkbox']:checked + label::before {
  border-color: #ffa735;
}

.checkbox-classic input[type='checkbox']:checked + label::after {
  transform: scale(1);
  opacity: 1;
}

.notice-mask figure img {
  width: 100%;
  vertical-align: middle;
}
.notice-mask .block-caption-classic {
  position: absolute;
  max-width: 600px;
  font-size: 1.15em;
}
.notice-mask .block-caption-classic > * {
  text-align: left;
}

.block-caption-right {
  right: 10%;
}
.block-caption-left {
  left: 10%;
}

.block-caption-classic {
  position: relative;
  width: 80%;
  max-width: 500px;
  top: 50%;
  transform: translateY(-50%);
}

.big-title {
  font-size: 3em;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.block-caption-classic .title {
  font-size: 13px !important;
}
.block-caption-classic p {
  padding: 0 0 10px;
}
.block-caption-classic > * {
  text-align: left;
}

.notice-small-img {
  padding: 120px 0;
}
.notice-small-img img {
  width: 100%;
  max-width: 450px;
  margin: auto;
}

.notice-small {
  padding: 20px 0;
}
.notice-small img {
  width: 100%;
  max-width: 450px;
  margin: auto;
  object-fit: contain !important;
}

.height-350 {
  min-height: 350px;
}

.height-350 figure {
  width: 100%;
  height: 100%;
}

.height-350 figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.height-350 figure img.contain {
  object-fit: contain;
}

.checkbox-full-width input[type='checkbox'] + label {
  padding: 10px 40px;
  border: 2px solid #404041;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f7f7f7;
  width: 100%;
}
.checkbox-full-width input[type='checkbox'] + label::before {
  top: 10px;
  left: 5px;
  border-radius: 50%;
}
.checkbox-full-width input[type='checkbox'] + label::after {
  background: transparent;
  top: 8px;
  left: 7px;
}

.checkbox-full-width input[type='checkbox']:checked + label {
  background: #ffa735;
  background: -moz-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: -webkit-linear-gradient(left, #ffa735 0%, #fd613d 100%);
  background: linear-gradient(to right, #ffa735 0%, #fd613d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa735', endColorstr='#fd613d',GradientType=1 );
}
.checkbox-full-width input[type='checkbox']:checked + label::before {
  border-color: #404041;
  background-color: #fff;
}
.checkbox-full-width input[type='checkbox']:checked + label::after {
  background: transparent;
  content: '\f00c';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.block-video-yt iframe {
  min-height: 400px;
  width: 100%;
}

.block-video-yt article figure {
  padding: 15px 20px;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
}
.block-video-yt article figure img {
  width: 100%;
}

.block-video-yt article figure.max-height-img {
  background: transparent;
}
.block-video-yt article figure.max-height-img img {
  width: auto;
  max-height: 150px;
  margin: 0 auto 20px;
}
.block-video-yt article figure.max-height-img + div p {
  font-size: 1.8em;
}

.list-classic {
  margin-left: 15px;
}

.block-video-hidden {
  position: absolute;
  transform: translate(40%, -10%);
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
  border: 20px solid #f7f7f7;
  z-index: 99;
}
.block-video-hidden.active {
  transform: translate(0, -10%);
  opacity: 1;
}
.block-video-hidden .close-video {
  color: #404041;
  font-size: 3em;
  position: absolute;
  z-index: 9999;
  cursor: pointer;
}

@keyframes moving-gradient {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 90% 50%;
  }
  100% {
    background-position: 10% 50%;
  }
}

@media only screen and (max-width: 1280px) {
  .notice-mask .block-caption-classic {
    max-width: 450px;
  }
}

@media only screen and (max-width: 1024px) {
  p {
    font-size: 1.4em;
  }

  .block-caption-classic {
    transform: translateY(0%);
  }
  .notice-mask .block-caption-classic {
    top: 10px;
    position: relative;
    transform: none;
    left: 10%;
    padding: 60px 0;
  }
}

@media only screen and (max-width: 768px) {
  .notice-small-img {
    padding: 10px 0;
  }
  .notice-small-img img {
    max-width: none;
  }
}
