.right {
  float: right;
}

.left {
  float: left;
}

.home-icon {
  height: 18px;
  top: 2px;
  position: relative;
}

.top-lang {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #404041;
}

.mb-25 {
  margin-top: 25px;
}

.language-choice {
  cursor: pointer;
}

.home-icon {
  content: '';
}

.fa > span {
  display: none;
}
.help-container{
  display: inline-flex;
  align-items:center;
  max-width: 500px;
}
.help-container > div{
  flex:1;
}

.help-container > p{
  flex:2;
}
.help-text{
  font-size: 1.2em;
}

.v-divider{
  position: absolute;
  left: 50%;
  top:50%;
  border-right: 2px solid rgba(64,64,65,0.5);
  height: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
