html * {
  font-family: 'Roboto condensed', Helvetica, Arial, sans-serif;
  color: #404041;
}

.right {
  float: right;
}

.left {
  float: left;
}

.language-choice {
  cursor: pointer;
}

.fa > span {
  display: none;
}
.help-container {
  display: inline-flex;
  align-items: center;
  max-width: 500px;
}
.help-container > div {
  flex: 1;
}

.help-container > p {
  flex: 2;
}
.help-text {
  font-size: 1.4em;
  font-weight: 600;
}

.v-divider {
  position: absolute;
  left: 50%;
  top: 50%;
  border-right: 2px solid rgba(64, 64, 65, 0.5);
  height: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
