.right {
  float: right;
}

.left {
  float: left;
}

.home-icon {
  height: 18px;
  top: 2px;
  position: relative;
}

.top-lang {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #404041;
}

.mb-25 {
  margin-top: 25px;
}

.language-choice {
  cursor: pointer;
}

.home-icon {
  content: '';
}

.fa > span {
  display: none;
}

.v-align{
  position: absolute;
  top: 50%;
  left: 0%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.help-text{
  font-size: 1.2em;
}

.v-divider{
  position: absolute;
  left: 50%;
  border-right: 1px solid rgb(158, 158, 158);
  height: 80%;
}
